$bgc: rgba(2, 39, 82, 1);
$size-unit: 64px;
$primary-color: #09fcfd;

%fullScreen {
  width: 100%;
  height: 100%;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary-color: #09fcfd;
  --secondary-color: #510303;
  --size-unit: 64px;
  --ships-animation-time: 200ms;
  --explosions-animation-time: 600ms;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  cursor: none;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: $bgc;
  position: relative;
}

.information {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 32px;
  z-index: 2;
  position: relative;
  user-select: none;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: $bgc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 30px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 42px;
      color: var(--primary-color);
    }
  }

  &__text {
    font-size: 36px;
    text-align: center;
    margin: 30px 0;

    &--small {
      font-size: 20px;
      text-align: center;
      margin: 30px 0;

      input {
        margin-left: 10px;
        height: 30px;
        line-height: 20px;
        font-size: 16px;
      }
    }
  }

  &__text--entry {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }

  &__button {
    width: 60%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px 15px;
    background-color: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    transition: box-shadow 0.1s ease-in;

    &:hover {
      box-shadow: 0px 0px 20px 5px var(--primary-color);
    }
  }
}

.button__X {
  padding: 5px 10px;
  position: absolute;
  right: 50px;
  top: 50px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  font-size: 26px;
  color: var(--primary-color);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px 2px var(--primary-color);
  }
}

.button__small {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px 15px;
  font-size: 20px;
}

.playersList__container {
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    list-style: none;
    background-color: rgba($color: #fff, $alpha: 0.21);
    color: #fff;
    font-weight: bold;

    span {
      padding-right: 5px;
    }
  }
}

%spaceship {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url(../images/ship.png);
  position: fixed;
  animation: move-8-units-X var(--ships-animation-time) steps(8) infinite;
}

.heart {
  width: 32px;
  height: 34px;
  background-image: url(../images/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

.box-blue {
  width: 30px;
  height: 30px;
  background-image: url(../images/box-blue.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

.spaceship {
  @extend %spaceship;
  // bottom: 0;
  // left: 50%;
  // transform: translateX(-50%)
}

.spaceship--small {
  display: none;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-image: url(../images/ship.png);
  background-size: cover;
  position: fixed;
  // top: 50%;
  animation: move-8-units-X var(--ships-animation-time) steps(8) infinite;
}

.enemy {
  @extend %spaceship;
  background-image: url(../images/enemy.png);
  animation: move-5-units-X var(--ships-animation-time) steps(5) infinite;
}

.enemy--big {
  width: 128px;
  height: 128px;
  background-image: url(../images/enemy-big.png);
  position: fixed;
  animation: move-enemy-big var(--ships-animation-time) steps(8) infinite;
}

.explosion {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url(../images/explosion.png);
  position: fixed;
  animation: move-17-units-X var(--ships-animation-time) steps(17) infinite;
}

.explosion--big {
  width: 128px;
  height: 128px;
  background-image: url(../images/explosion-big.png);
  position: fixed;
  animation: move-enemy-big-explosion var(--ships-animation-time) steps(17) infinite;
}

.missile--enemy {
  background-image: url(../images/missile2.png);
  background-size: contain;
  width: 12px;
  height: 24px;
  top: 50px;
  left: 50px;
  position: absolute;

  // img {
  //   width: 100%;
  //   height: 100%;
  // }
}

.missile {
  background-image: url(../images/missile.png);
  background-size: contain;
  width: 12px;
  height: 24px;
  position: absolute;
}

.hide {
  display: none;
}

.hit {
  background-color: var(--secondary-color);
}

.addLife {
  background-color: green;
}


@keyframes move-8-units-X {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: $size-unit*(-8);
  }
}

@keyframes move-17-units-X {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: $size-unit*(-17);
  }
}

@keyframes move-5-units-X {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: $size-unit*(-5);
  }
}

@keyframes move-enemy-big {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1024px;
  }
}

@keyframes move-enemy-big-explosion {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -2176px;
  }
}